<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dcc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.dcc.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.dcc.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.dcc.AndroidRssReader"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.dcc.LaunchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.dcc.search.StudentSelectActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.dcc.search.TeamSelect"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.dcc.ProgramView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.dcc.ProgramSelect"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.dcc.surveys.CreateSurvey"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.dcc.surveys.ManageSurvey"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.dcc.search.TimeSelect"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.dcc.search.SearchResults"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.dcc.AutoRank"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.dcc.ReportType"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.dcc.search.MetaSearch"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.dcc.admin.AdminActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.dcc.UpdateTask"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.dcc.admin.EditStudents"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.dcc.utilities.KeywordUploader"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.dcc.CustomizedListView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.dcc.EmailMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.dcc.ActionItem"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.dcc.EReportLauncher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.dcc.SetDefaults"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.dcc.EDailyActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.dcc.EReport"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.dcc.Record057"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.dcc.AddStudent"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.dcc.MainActivityFrag"
            android:label="@string/app_name" >
        </activity>
        <fragment
            android:name="com.example.dcc.MenuFragment"
            android:label="@string/app_name" >
        </fragment>
    </application>

</manifest>